<h1>Question <%= @question.id  %></h1>
<p>Questions added by you are only presented in games played by other people.</p>
<%= link_to "Add a new question", new_question_path, class: "button" %>
</br>
</br>

<div id=<%= @question.id.to_s %> class="question">
  Question: <%= @question.text %>
  </br>
  Answer: <%= @question.answer %>
  </hr>
</div>
