<div class="row span4 offset4">
  <h1>Question <%= @q.id  %></h1>

  <%= link_to "Add a new question", new_question_url, class: "btn btn-mini btn-success pull-right" %>
  </br>
  </br>

  <div id=<%= @q.id.to_s %> class="question">
    Question: <%= @q.text %>
    </br>
    Answer: <%= @q.answer %>
    </hr>
  </div>
</div>