 <%= form_for(@user, :html => { :id => "signup", :class => "form-signin"}) do |f|  %>

  <%= render 'error_messages', object: @user %> 
  <%= f.label(:username, 'Username', :class => "label_width")%>
  <%= f.text_field(:username) %> 
  
  <%= f.label(:email, "Email", :class => "label_width") %>
  <%= f.text_field(:email) %>

  <%= f.label(:password, "Password", :class => "label_width") %>
  <%= f.password_field(:password) %>

  <%= f.label(:password_confirmation, "Password Confirmation", :class => "label_width") %>
  <%= f.password_field(:password_confirmation) %>
  
  <div class="submit">
    <%= f.submit("Submit", :class => "button") %>
  </div>
    
<% end %>
