
<h2>Leaderboard</h2>

<table class="table">
<thead>
  <tr>
    <th>Username</th>
    <th>Date joined</th>
    <th>Games played</th>
    <th>Correct answers</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% unless @users.nil? %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.created_at.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= "?" %></td>
        <td><%= "?" %></td>
        <% if session[:user_id] == user.id %>
        <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-mini btn-info pull-right" %></td>
        <td><%= link_to "Delete", user, method: :delete, class: "btn btn-mini btn-danger pull-right"  %>  </td>
        <% else %>
          <td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
