<h2>Leaderboard</h2>

<table>
<thead>
  <tr>
    <th>Username</th>
    <th>Date joined</th>
    <th>Games played</th>
    <th>Correct answers</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% unless @users.nil? %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.created_at.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= "?" %></td>
        <td><%= "?" %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Delete", user, method: :delete  %>  </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>