<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<%= form_for @game do |f| %>
<%= f.label(:question_limit, "Question Limit") %>
<%= f.number_field(:question_limit, :min => "1", :max => "5", :value => "1") %>
<%= f.label(:question_category, "Question Category") %>
<%= f.select(:question_category, 
      options_for_select(
        ["General", "History", "Physics"].each_with_index do |category, index| 
          "[#{category}, #{index}]" end
      )
    ) %>

<%= f.submit "Start Game", class: "btn btn-success" %>

<% end %>