<h1>Responses#new</h1>

<!-- @game
@question
@question_number -->

<h2>Question <%= @question_number %></h2>
<p><%= @question.text %></p>

<p>true or false?</p>
<div >
  
  <%= form_for :response, :url => responses_path do |f| %>
    <fieldset>
      <%= f.label(:value_true, "True") %>
      <%= radio_button(:response, "answer", true) %>
      
      <%= f.label(:value_false, "False") %>
      <%= radio_button(:response, "answer", false) %>   

      <%= f.hidden_field :game_id, :value => @game_id %>
      
      <%= f.hidden_field :question_id, :value => @question.id %>
      
      <%= f.submit :value => "Submit"%>
    </fieldset>
  <% end %>
</div>


