<% if @question_errors.count > 0 %>
  <ul>
  <% @question_errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<h2>Question <%= @question_number %></h2>
<p><%= @question.text %></p>

<p>true or false?</p>
<div >
  
  <%= form_for :response, :url => responses_path do |f| %>
    <fieldset>
      <%= f.hidden_field :question_id, :value => @question.id %>

      <%= f.label(:answer_true, "True") %>
      <%= radio_button(:response, "answer", true) %>
      
      <%= f.label(:answer_false, "False") %>
      <%= radio_button(:response, "answer", false) %>   
      
      <%= f.submit :value => "Submit"%>
    </fieldset>
  <% end %>
</div>


