<!DOCTYPE html>
<html>
<head>
  <title>Quizical</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Quizical</a>
        <% if session[:user_id].nil?%>
        <ul class="nav">
          <li><%= link_to 'Sign Up', new_user_path %></li> 
          <li><%= link_to 'Log In', new_session_path %></li>
        </ul>
        <% else %>
        <ul class="nav">
          <% @user = User.find(session[:user_id]) %>
          <li><%= link_to 'Log Out', logout_path, :method => :delete %></li>
          <li><%= link_to 'My Profile', user_path(@user) %></li>
          <li><%= link_to 'My Questions', questions_path %></li>
          <li class="divider"></li> 
          <li><%= link_to 'New Game', new_game_path %></li>
          <li><%= link_to 'Leaderboard', users_path %></li> 
        </ul>
        <% end %>
      </div>
    </div>

  <div id="flash-messages">
    <% if flash[:error] %>
        <div class='alert alert-block'><%= flash[:error] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class='alert alert-block'><%= flash[:notice] %></div>
    <% end %>
  </div>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
