<!DOCTYPE html>
<html>
<head>
  <title>Quizical</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Quizical</a>
        <ul class="nav">
          <% if session[:user_id] %>
          <% @user = User.find(session[:user_id]) %>
            <li><%= link_to 'Log Out', logout_path, :method => :delete %></li>
            <li><%= link_to 'My Profile', user_path(@user) %></li>
            <li><%= link_to 'My Questions', questions_path %></li>
            <li class="divider"></li> 
            <li><%= link_to 'New Game', new_game_path %></li>
            <li><%= link_to 'Leaderboard', users_path %></li> 
          <% else %>
            <li><%= link_to 'Sign Up', new_user_path %></li> 
            <li><%= link_to 'Log In', new_session_path %></li> 
          <% end %>
        </ul>
      </div>
    </div>

  <div id="flash-messages">
    <% if flash[:error] %>
        <p class='error'><%= flash[:error] %></p>
    <% end %>
    <% if flash[:notice] %>
        <p class='notice'><%= flash[:notice] %></p>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="offset4 span4">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
